*{
    margin: 0;
    padding: 0;
}
label{
    color: white;
}
.white{
    color: white;
}

p{
    color: white;
}

body{
    background-image: url(pexels-pixabay-302428.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh -1 ;
}

